{% extends 'base.html' %}


{% block side-nav %}
{% endblock %}

 {% block head %}
    <title>Login</title>
    {% endblock %}
{% block body %}

<br>

<div class="container" >
     <div class="border container-fluid bg-purple text-white small-form  mx-auto">
<h1 class="font-weight-bold text-monospaceregister.html">Activation Email Sent</h1>
     </div>
</div>

<div class="container">

    <div class="border container bg-light  small-form  mx-auto">

    <br>

    <p> We’ve emailed you instructions for activating your account. You should receive them shortly. </p>
    <p>If you don’t receive an email, please make sure you’ve entered the correct email address, and check your spam folder.</p>




        </div>
</div>





{% endblock %}