
{% extends 'base.html' %}

{% block head %}

<title>Home</title>

{% endblock %}

{% if user %}
{% block nav %}
<form action="/logout/{{ user }}" method="post" style="padding:0px;margin:0px;">
   <a href="../login" class="btn bg-light text-dark btn-block"> logout </a>
    </form>
{% endblock %}

{% else %}
          <a href="../login" class="btn bg-light text-dark"> Login </a>
          <a href="register/" class="btn bg-light text-dark"> Register </a>
{% endif %}




{% block body %}

<h1> home page </h1>


{% endblock %}