
{% extends 'base.html' %}

{% block head %}

<title>Home</title>


{% endblock %}





{% block nav %}
{% endblock %}











{% block body %}


<br>

<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.title }}
         {{ form.content }}
         {{ form.target_date }}
        <div class="container">
        <button type="submit" class="btn btn-success"> Submit </button>
            <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
        </form>

</div>

<div class="container">
<div class="list-group">
    {% for info in data %}


    {% if info.mark %}
    <a  class="list-group-item list-group-item-action flex-column align-items-start bg-success text-white">
    {% else %}
         <a  class="list-group-item list-group-item-action flex-column align-items-start ">
        {% endif %}

    <div class="d-flex w-100 justify-content-between ">
      <h5 class="mb-1"> {{ info.title }}</h5>
      <small> Created on: {{ info.date_created }}</small>
    </div>
    <p class="mb-1">{{ info.content }}</p>

      <div class="container bg-danger">

      <form action="delete_task/{{ info.id }}/" method="post">
          {% csrf_token %}
      <button type="submit" class="btn btn-danger float-right"> Remove </button>
          </form>
{% if info.mark %}

           <form action="task_not_complete/{{ info.id }}/" method="post">
                    {% csrf_token %}

     <button type="submit" class="btn btn-light float-right"> Uncheck </button>
          </form>

          {% else %}

      <form action="task_complete/{{ info.id }}/" method="post">
                    {% csrf_token %}

     <button type="submit" class="btn btn-success float-right"> Check </button>
          </form>
          {% endif %}
          </div>
                   <small>Target date : {{ info.target_date.date }}</small>

  </a>
    {% endfor %}
</div>
</div>


{% endblock %}