{% extends 'base.html' %}


{% block side-nav %}
{% endblock %}

 {% block head %}
    <title>Password reset done</title>
    {% endblock %}
{% block body %}

<br>

<div class="container" >
     <div class="border container-fluid bg-purple text-white small-form  mx-auto">
<h1 class="font-weight-bold text-monospaceregister.html">Password reset</h1>
     </div>
</div>

<div class="container">

    <div class="border container bg-light  small-form  mx-auto">

    <br>

    <p> Your password has been reset successfully! </p>
   <p><a href="{% url 'login' %}">Login</a> to get started</p>




        </div>
</div>





{% endblock %}