{% extends 'base.html' %}




{% block head %}
<title> Password Reset </title>
{% endblock %}


{% block nav %}
      <a href="/">
      <button type="button"  class="btn bg-purple text-white" style="margin-right:5px;"> Home </button>
          </a>
        {% endblock %}


{% block body %}







<br>

<div class="container" >
     <div class="border container bg-purple text-white small-form  mx-auto">
<h1 class="font-weight-bold text-monospaceregister.html">Password Change</h1>
     </div>
</div>

<div class="container">

    <div class="border container bg-light  small-form  mx-auto">
    <br>

<form method="post">

    {% csrf_token %}

     <div class="form-group">
    <label >Previous Password<span style="color:red;">*</span></label>
          {{ form.old_password }}

         <div class="container">
            {{ form.old_password.errors }}
         </div>

  </div>

  <div class="form-group">
    <label >New Password<span style="color:red;">*</span></label>

      {{ form.new_password1 }}



  </div>
      <div class="form-group">
    <label >Confirm Password<span style="color:red;">*</span></label>

     {{ form.new_password2 }}
          <div class="container">
           {{ form.new_password2.errors }}
         </div>
  </div>


  <button type="submit" class="btn bg-purple text-white btn-block"> Confirm </button>


</form>


        </div>
</div>


{% endblock %}