
{% extends 'base.html' %}

{% block head %}

<title>Profile</title>


{% endblock %}






{% block body %}




<Br>

<div class="container bg-light border">
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="title">
        <h6> Title <input disabled class="bg-light" style="border:0;" maxlength="2" size=2" value="100" id="counter"> </h6>
        {{ form.title }}

            </div>
        <div class="content">
        <h6> To Do List </h6>
         {{ form.content }}
                    </div>

        <div class="target-date">
        <h6> Target Date </h6>

         {{ form.target_date }}
    </div>
        <br>
        <button type="submit" class="btn btn-success"> Add </button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </form>

</div>

<br>

<div class="container bg-light border">
    <Br>

    {% for info in data %}
    <div class="card">


    {% if info.mark %}
        <div class="card-header bg-success">
            {% else %}
            <div class="card-header">
              {% endif %}
                <span style="font-weight:bold;">Deadline:</span> {{ info.target_date|date:"D d M Y" }}
        </div>

  <div class="card-body">
    <h5 class="card-title">{{ info.title|capfirst }}</h5>
    <pre class="card-text">{{ info.content }}</pre>


  </div>


    </div>

{% if info.mark %}
             <form action="task_not_complete/{{ info.id }}/" method="post" style="margin-bottom:0px; padding-bottom:0px;">
                    {% csrf_token %}

     <button type="submit" class="btn btn-light btn-block"> Uncheck </button>

          </form>


         {% else %}
     <form action="task_complete/{{ info.id }}/" method="post"  style="margin-bottom:0px; padding-bottom:0px;">
                    {% csrf_token %}

     <button type="submit" class="btn btn-success btn-block"> Check </button>

          </form>

{% endif %}
           <form action="/profile/{{ user }}/delete_task/{{ info.id }}/" method="post">
          {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-block"> Remove </button>
          </form>



    {% endfor %}
</div>

<Br>

    <script>
function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.value = maxlimit - field.value.length;
 }
}
</script>

{% endblock %}