
{% extends 'base.html' %}

{% block head %}

<title>Home</title>


{% endblock %}


<h1> profile </h1>







{% block nav %}

{% if user.is_authenticated %}

<form action="/logout/" method="post" style="padding:0px;margin:0px;">
    {% csrf_token %}
    <button type="submit" class="btn bg-light text-dark btn-block"> logout </button>
    </form>

{% else %}
          <a href="../login" class="btn bg-light text-dark"> Login </a>
          <a href="register/" class="btn bg-light text-dark"> Register </a>
{% endif %}

{% endblock %}


{% block body %}


<br>

<div class="container bg-light border">
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="title">
        <h6> Title </h6>
        {{ form.title }}
            </div>
        <div class="content">
        <h6> To Do List </h6>
         {{ form.content }}
                    </div>

        <div class="target-date">
        <h6> Target Date </h6>

         {{ form.target_date }}
    </div>
        <br>
        <button type="submit" class="btn btn-success"> Submit </button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </form>

</div>

<br>

<div class="container bg-light border">
    <Br>

    {% for info in data %}
    <div class="card">


    {% if info.mark %}
        <div class="card-header bg-success">
            {% else %}
            <div class="card-header">
              {% endif %}
                <span style="font-weight:bold;">Deadline:</span> {{ info.target_date|date:"D d M Y" }}
        </div>

  <div class="card-body">
    <h5 class="card-title">{{ info.title|capfirst }}</h5>
    <pre class="card-text">{{ info.content }}</pre>


  </div>


    </div>

{% if info.mark %}
             <form action="task_not_complete/{{ info.id }}/" method="post" style="margin-bottom:0px; padding-bottom:0px;">
                    {% csrf_token %}

     <button type="submit" class="btn btn-light btn-block"> Uncheck </button>

          </form>


         {% else %}
     <form action="task_complete/{{ info.id }}/" method="post"  style="margin-bottom:0px; padding-bottom:0px;">
                    {% csrf_token %}

     <button type="submit" class="btn btn-success btn-block"> Check </button>

          </form>

{% endif %}
           <form action="/profile/{{ user }}/delete_task/{{ info.id }}/" method="post">
          {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-block"> Remove </button>
          </form>



    {% endfor %}
</div>

<Br>
{% endblock %}