
{% extends 'base.html' %}

{% block head %}

<title>Home</title>


{% endblock %}


<h1> profile </h1>







{% block nav %}

{% if user.is_authenticated %}

<form action="/logout/" method="post" style="padding:0px;margin:0px;">
    {% csrf_token %}
    <button type="submit" class="btn bg-light text-dark btn-block"> logout </button>
    </form>

{% else %}
          <a href="../login" class="btn bg-light text-dark"> Login </a>
          <a href="register/" class="btn bg-light text-dark"> Register </a>
{% endif %}

{% endblock %}


{% block body %}


<br>

<div class="container bg-light border">
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="title">
        <h6> Title </h6>
        {{ form.title }}
            </div>
        <div class="content">
        <h6> To Do List </h6>
         {{ form.content }}
                    </div>

        <div class="target-date">
        <h6> Target Date </h6>

         {{ form.target_date }}
    </div>
        <br>
        <button type="submit" class="btn btn-success"> Submit </button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </form>

</div>

<br>
<div class="container bg-light border">
    <Br>
<div class="list-group">
    {% for info in data %}


    {% if info.mark %}
    <a  class="list-group-item list-group-item-action flex-column align-items-start bg-success text-white">
    {% else %}
         <a  class="list-group-item list-group-item-action flex-column align-items-start ">
        {% endif %}

    <div class="d-flex w-100 justify-content-between "  style="border-bottom:1px solid;">

      <h5 class="mb-1"> {{ info.title|capfirst }}</h5>
      <small> Created on: {{ info.date_created }}</small>
    </div>
             <div class="container border">

    <p class="mb-1">{{ info.content }}</p>

                 </div>

      <div class="container bg-danger">

      <form action="/profile/{{ user }}/delete_task/{{ info.id }}/" method="post">
          {% csrf_token %}
      <button type="submit" class="btn btn-danger float-right"> Remove </button>
          </form>
{% if info.mark %}


           <form action="task_not_complete/{{ info.id }}/" method="post">
                    {% csrf_token %}

     <button type="submit" class="btn btn-light float-right"> Uncheck </button>
          </form>

          {% else %}

      <form action="task_complete/{{ info.id }}/" method="post">
                    {% csrf_token %}

     <button type="submit" class="btn btn-success float-right"> Check </button>



          </form>


          {% endif %}
          </div>
                   <small>Target date : {{ info.target_date.date }}</small>

  </a>
        <br>
    {% endfor %}
</div>
</div>

<Br>
{% endblock %}