{% extends 'base.html' %}




{% block head %}
<title> Register </title>
{% endblock %}


{% block body %}



{% block side-nav %}
{% endblock %}




<br>

<div class="container" >
     <div class="border container bg-purple text-white small-form  mx-auto">
<h1 class="font-weight-bold text-monospaceregister.html">Register</h1>
     </div>
</div>

<div class="container">

    <div class="border container bg-light  small-form  mx-auto">
    <br>

<form method="post">

    {% csrf_token %}

  <div class="form-group ">

    <label >Username<span style="color:red;">*</span></label>
    {{ form.username }}

      <div class="container-sm text-danger">{{ form.username.errors.as_text }} </div>
</div>

         <div class="form-group">
    <label >Email<span style="color:red;">*</span></label>
    {{ form.email }}
             <div class="container-sm text-danger"> {{ form.email.errors.as_text }} </div>
  </div>

  <div class="form-group">
    <label >Password<span style="color:red;">*</span></label>
    {{ form.password1 }}
      {{ form.password1.errors.as_text }}
  </div>
      <div class="form-group">
    <label >Confirm Password<span style="color:red;">*</span></label>
    {{ form.password2 }}

          <div class="container">
    {{ form.password2.errors}}</div>

  </div>


  <button type="submit" class="btn bg-purple text-white btn-block"> SIGN UP </button>


</form>

        </div>
</div>

<br>

<div class="container">

    <div class="border container bg-light  small-form  mx-auto">

    <br>
         <div class="container">
            <h5 class="font-weight-light"> Already have an account? </h5>
        </div>


  <a href='../login' class="btn bg-purple text-white btn-block"> SIGN IN </a>

        <br>

        </div>
</div>


{% endblock %}