{% load static %}

<head>
    {% block head %}
    <title>base</title>
    {% endblock %}
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
        <link rel="stylesheet" href="{% static 'app/css/stylesheet.css' %}" >


</head>


<nav class="navbar navbar-expand-lg navbar-light bg-purple ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
          {% block main-nav %}
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
          {% endblock %}
      </li>

    </ul>


      <div class="btn-group" role="group" aria-label="Basic example">
                  {% block nav %}

          <a href="../login" class="btn bg-light text-dark"> Login </a>
          <a href="../register" class="btn bg-light text-dark"> Register </a>
          {% endblock %}

</div>

  </div>
</nav>


{% block body %}


{% endblock %}